In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data/data.csv')

In [12]:
df.isna().sum()

ID                            0
Country                       0
VFN                       24707
Mp                       337389
Mh                            0
Man                           0
MMS                     4654754
Tan                       25098
T                          1093
Va                        18022
Ve                        23392
Mk                          311
Cn                          341
Ct                            0
Cr                            0
r                             0
m (kg)                        5
Mt                        23076
Enedc (g/km)            4654754
Ewltp (g/km)              10234
W (mm)                  4654754
At1 (mm)                4654754
At2 (mm)                4654754
Ft                            0
Fm                            0
ec (cm3)                 833604
ep (KW)                   20710
z (Wh/km)               3491339
IT                      1680078
Ernedc (g/km)           4654754
Erwltp (g/km)           1680094
De                      4654754
Vf                      4654754
Status                        0
year                          0
Date of registration          0
Fuel consumption         855532
ech                     2181924
RLFI                    2390931
Electric range (km)     3491852
dtype: int64

In [20]:
# sélection des colonnes à supprimer car vides
col_to_del = ['MMS', 'Enedc (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ernedc (g/km)', 'De', 'Vf']

In [21]:
# colonnes à supprimer car pas assez remplies (à valider, on peut peut être aussi inclure IT et Erwltp (g/km))
col_to_del.append('RLFI')

In [22]:
# colonnes à supprimer car doublons d'information
col_to_del.extend(('Mp', 'Mh', 'Man', 'Cr', 'm (kg)', 'Fm'))

In [23]:
# colonnes à supprimer car non pertinentes (infos administratives ou relatives au jeu de données en lui-même)
col_to_del.extend(('ID', 'Status', 'r', 'year', 'Tan', 'Va', 'Ve', 'Ct', 'Cr'))

In [24]:
# suppression des lignes concernant les véhicules électriques ainsi que des colonnes concernant ces véhicules uniquement
df = df[df['Ft'] != 'electric']
col_to_del.append('Electric range (km)')

In [26]:
# suppresion de colonnes sélectionnées
df = df.drop(col_to_del, axis=1)

In [27]:
# suppresion des doublons
df = df.drop_duplicates()

In [28]:
df.to_csv('data/data_reduced.csv', index=False)

In [29]:
df = pd.read_csv('data/data_reduced.csv')

In [31]:
df.head(5)

,Country,VFN,T,Mk,Cn,Mt,Ewltp (g/km),Ft,ec (cm3),ep (KW),z (Wh/km),IT,Erwltp (g/km),Date of registration,Fuel consumption,ech
0,DE,IP-2021_536K7F-YV1-1,X,VOLVO,XC40,1822.0,153.0,petrol,1969.0,120.0,NaN,NaN,NaN,2023-11-06,6.7,Euro 6 AP
1,DE,IP-03_MP_0298-ZFA-1,MP,JEEP,COMPASS,1696.0,133.0,petrol,1469.0,96.0,NaN,e3 37 32,2.20,2023-05-25,5.8,NaN
2,DE,IP-MQB27ZZ_A1_0529-WAU-1,GB,AUDI,A1 SPORTBACK,1294.0,129.0,petrol,999.0,70.0,NaN,e13 29,1.13,2023-03-20,5.7,NaN
3,DE,IP-MQB27ZZ_A0_1005-TMB-1,PJ,SKODA,FABIA,1232.0,117.0,petrol,999.0,59.0,NaN,e8 29 37,1.94,2023-08-03,5.2,NaN
4,DE,IP-0001010-WBA-1,U1X,BMW,X1 XDRIVE 25E,2066.0,17.0,petrol/electric,1499.0,100.0,151.0,NaN,NaN,2023-08-09,0.7,NaN