In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df.isna().sum()

ID                            0
Country                       0
VFN                       24707
Mp                       337389
Mh                            0
Man                           0
MMS                     4654754
Tan                       25098
T                          1093
Va                        18022
Ve                        23392
Mk                          311
Cn                          341
Ct                            0
Cr                            0
r                             0
m (kg)                        5
Mt                        23076
Enedc (g/km)            4654754
Ewltp (g/km)              10234
W (mm)                  4654754
At1 (mm)                4654754
At2 (mm)                4654754
Ft                            0
Fm                            0
ec (cm3)                 833604
ep (KW)                   20710
z (Wh/km)               3491339
IT                      1680078
Ernedc (g/km)           4654754
Erwltp (g/km)           1680094
De                      4654754
Vf                      4654754
Status                        0
year                          0
Date of registration          0
Fuel consumption         855532
ech                     2181924
RLFI                    2390931
Electric range (km)     3491852
dtype: int64

In [4]:
# sélection des colonnes à supprimer car vides
col_to_del = ['MMS', 'Enedc (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ernedc (g/km)', 'De', 'Vf']

In [6]:
# colonnes à supprimer car pas assez remplies (à valider, on peut peut être aussi inclure IT et Erwltp (g/km))
col_to_del.extend(('RLFI', 'z (Wh/km)', 'Erwltp (g/km)'))

In [7]:
# colonnes à supprimer car doublons d'information
col_to_del.extend(('Mp', 'Mh', 'Man', 'Cr', 'm (kg)', 'Fm', 'VFN'))

In [8]:
# colonnes à supprimer car non pertinentes (infos administratives ou relatives au jeu de données en lui-même)
col_to_del.extend(('ID', 'Status', 'r', 'year', 'Tan', 'Va', 'Ve', 'Ct', 'Cr'))

In [9]:
# suppression des lignes concernant les véhicules électriques ainsi que des colonnes concernant ces véhicules uniquement
df = df[df['Ft'] != 'electric']
col_to_del.append('Electric range (km)')

In [10]:
# suppression des lignes concernant les véhicules avec un type de carburant peu commun
exclusions = ['lpg', 'e85', 'ng', 'hydrogen']
df_filtered = df[~df['Ft'].isin(exclusions)]

In [11]:
# suppresion de colonnes sélectionnées
df = df.drop(col_to_del, axis=1)

In [12]:
# suppresion des doublons
df = df.drop_duplicates()

In [13]:
df.to_csv('data/data_reduced.csv', index=False)

In [14]:
df = pd.read_csv('data/data_reduced.csv')

In [15]:
df.head(5)

,Country,T,Mk,Cn,Mt,Ewltp (g/km),Ft,ec (cm3),ep (KW),IT,Date of registration,Fuel consumption,ech
0,DE,X,VOLVO,XC40,1822.0,153.0,petrol,1969.0,120.0,NaN,2023-11-06,6.7,Euro 6 AP
1,DE,MP,JEEP,COMPASS,1696.0,133.0,petrol,1469.0,96.0,e3 37 32,2023-05-25,5.8,NaN
2,DE,GB,AUDI,A1 SPORTBACK,1294.0,129.0,petrol,999.0,70.0,e13 29,2023-03-20,5.7,NaN
3,DE,PJ,SKODA,FABIA,1232.0,117.0,petrol,999.0,59.0,e8 29 37,2023-08-03,5.2,NaN
4,DE,U1X,BMW,X1 XDRIVE 25E,2066.0,17.0,petrol/electric,1499.0,100.0,NaN,2023-08-09,0.7,NaN

In [16]:
df.isna().sum()

Country                       0
T                           584
Mk                          171
Cn                          170
Mt                        13063
Ewltp (g/km)               6887
Ft                            0
ec (cm3)                    165
ep (KW)                       3
IT                       562727
Date of registration          0
Fuel consumption          15479
ech                     1095559
dtype: int64

In [18]:
df.shape

(2046064, 13)

In [23]:
pd.to_datetime(df['Date of registration']).dt.year.unique()

array([2023], dtype=int32)